@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('basic-modal.css');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10%;
    background-color: #54A0FF;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .screen-title {
    font-size: 24px;
}
header .author span {
    margin-left: 20px;
}
header .author span:first-child {
    font-size: 14px;
}

main {
    padding: 0px 50px;
    padding-top: 30px;
}
main .toys-list {
    list-style: decimal;
    margin-left: 30px;
}
main .toys-list .toys-toy {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}